.btn {
  margin: 5px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  color: black;
  border-radius: 5px;

  &:hover {
    background-color: gray;
    color: white;
  }
}
